<p *ngIf="solicitud.apellidos.length" [style.color]="+solicitud.nombre>0.5?'red':'blue'">{{solicitud.nombre}} {{solicitud.apellidos}}
Fecha de nacimiento: {{solicitud.nacimiento | date:'dd/MM/yyyy'}}</p>
<p *ngIf="!solicitud.apellidos.length" class="help is-danger">
  Los apellidos no pueden ser nulos
</p>
<form>
  <p><label>Nombre: </label><input (keyup)="nombre($event)"/></p>
  <p><label>Apellido: </label>  <input (keyup)="apellidos($event)"/></p>
  <div class="example-button-row">
  <button mat-raised-button color="primary" (click)="delete()">Eliminar</button>
  </div>
</form>

<p>
  <table border="1">
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{ solicitud.nombre }}</td>
      <td>{{ solicitud.apellidos }}</td>
      </tr>
  </table>

  <selector-centro></selector-centro>
  <app-centro [centro]="nombreCentro"></app-centro>



